<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
       <div class="form-group">
         <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="searchtext">
       </div>

       <p 
       appHighlighttext
       [highlighttext]="searchText"
       hightlightcolor="yellow">
       Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications.Angular has clear advantages while also providing a standard structure for developers to work with Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications.Angular has clear advantages while also providing a standard structure for developers to work with Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications.Angular has clear advantages while also providing a standard structure for developers to work with</p>
    </div>
  </div>
</div>
